{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ information.full_name }}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'resume/css/style-ltr.css' %}" />
    </head>

    <body lang="en">
        <aside id="sidebar">
            <div class="side-block" id="contact">
                <h1>
                    Contact Info
                </h1>
                <ul>
                {% if information.website %}
                    <li><i class="fa fa-globe"></i> {{ information.website }}</li>
                {% endif %}
                {% if information.email %}
                    <li><i class="fa fa-envelope"></i> {{ information.email }}</li>
                {% endif %}
                {% if information.phone %}
                    <li><i class="fa fa-phone"></i> {{ information.phone }}</li>
                {% endif %}
                {% if information.address %}
                    <li><i class="fa fa-map-pin"></i> {{ information.address }}</li>
                {% endif %}
                {% if information.github %}
                    <li><i class="fa fa-github"></i> {{ information.github }}</li>
                {% endif %}
                {% if information.linkedin %}
                    <li><i class="fa fa-linkedin"></i> {{ information.linkedin }}</li>
                {% endif %}
                {% if information.twitter %}
                    <li><i class="fa fa-twitter"></i> {{ information.twitter }}</li>
                {% endif %}
                {% if information.instagram %}
                    <li><i class="fa fa-instagram"></i> {{ information.instagram }}</li>
                {% endif %}
                </ul>
            </div>

            {% if information.about_me %}
            <div class="side-block" id="contact">
                <h1>
                    About Me
                </h1>
                <div>{{ information.about_me|safe }}</div>
            </div>
            {% endif %}

            <div class="side-block concise" id="skills">
                <h1>Skills</h1>
                {% for g in group %}
                    <div class="skill-details">
                        <h4>{{ g.title }}</h4>
                        <div class="concise">
                            <ul>
                            {% for skill in g.skills.all %}
                            <li>{{ skill.name }}</li>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="side-block" id="disclaimer">
                This r&eacute;sum&eacute; created by aminhce <code>github.com/AminHCE</code>
            </div>
        </aside>
        <section id="main">
            <header id="title">
                <h1>{{ information.full_name }}
                    <button onclick="window.print();" class="print-button">
                        <i class="fa fa-print"></i>
                    </button>
                </h1>
                {% if information.quote %}<span class="subtitle">{{ information.quote }}</span>{% endif %}
            </header>
            <!-- Experiences -->
            <section class="main-block">
                <h2>
                    <i class="fa fa-suitcase"></i> Experiences
                </h2>

                {% for experience in experiences %}
                <section class="blocks">
                    <div class="date">
                        <span>{% if experience.current %}current{% else %}{{ experience.end_date|date:'M Y' }}{% endif %}</span><span>{{ experience.start_date|date:'M Y' }}</span>
                    </div>
                    <div class="decorator"></div>
                    <div class="details">
                        <header>
                            <h3>{{ experience.project_name }}</h3>
                            <span class="place">{{ experience.company_name }}</span>
                            {% if experience.location %}<span class="location">({{ experience.location }})</span>{% endif %}
                        </header>
                        <div>
                            {{ experience.description|safe }}
                        </div>
                    </div>
                </section>
                {% endfor %}
            </section>
            <!-- /Experiences -->

            <!-- Selected Projects -->
            <section class="main-block no-border">
                <h2>
                    <i class="fa fa-folder-open"></i> Selected Projects
                </h2>

                {% for project in projects %}
                <section class="blocks">
                    <div class="date">
                        <span>{% if project.current %}current{% else %}{{ project.end_date|date:'M Y' }}{% endif %}</span><span>{{ project.start_date|date:'M Y' }}</span>
                    </div>
                    <div class="decorator no-border"></div>
                    <div class="details">
                        <header>
                            <h3>{{ project.project_name }}</h3>
                            <span class="place">{{ project.subtitle }}</span>
                            {% if project.location %}<span class="location">({{ project.location }})</span>{% endif %}
                        </header>
                        <div>
                            {{ project.description|safe }}
                        </div>
                    </div>
                </section>
                {% endfor %}
            </section>
            <!-- /Selected Projects -->
            <!-- Education -->
            <section class="main-block concise">
                <h2>
                    <i class="fa fa-graduation-cap"></i> Education
                </h2>
                {% for education in educations %}
                <section class="blocks">
                    <div class="date">
                        <span>{% if education.current %}current{% else %}{{ education.end_time|date:'M Y' }}{% endif %}</span><span>{{ education.begin_time|date:'M Y' }}</span>
                    </div>
                    <div class="decorator"></div>
                    <div class="details">
                        <header>
                          <h3>{{ education.title }}</h3>
                          <span class="place">{{ education.university }}</span>
{#                          <span class="location"></span>#}
                        </header>
                        <div>{{ education.description|safe }}</div>
                    </div>
                </section>
                {% endfor %}
                <!-- Certificate -->
                <section class="blocks">
                    <div class="date"></div>
                    <div class="decorator no-border"></div>
                    <div class="details">
                        <header>
                            <h3>Massive Online Course (selective list)</h3>
                        </header>
                        <div class="concise">
                            <ul>
                                {% for certificate in certificates %}
                                <li>{{ certificate.title }}<br>({{ certificate.institute }})</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- /Certificate -->
            </section>
            <!-- /Education -->
        </section>
    </body>
</html>
