{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>AminHCE</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'website/css/ahce.css' %}">
	<link href="{% static 'website/img/favicon.png' %}" rel="icon">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="{% static 'website/js/timeline.js' %}"></script>
</head>
<body>

	<div class="gotop">
		<a href="#"><pre>
 G O
 TOP
     </pre></a>
	</div>

	<div class="desktop">

		<div class="logo">
			<p>
				<pre>╔═══════════════════════════════════════════════════════════════════════╗
║									║
║									║
║	    /\/\/\    /\/\/\    /\/\/\    /\/\/\    /\/\/\    /\/\/	║
║	   /\/\/\/\  /\/\/\/\  /\/\/\/\  /\/\/\/\  /\/\/\/\  /\/\/	║
║	  /\/\/\/\/\/\/\/\/\/\/\<a href="http://aminhce.ir">AminHCE.ir</a>/\/\/\/\/\/\/\/\/\/\/\/	║
║	 /\/\/  \/\/\/\/  \/\/\/\/  \/\/\/\/  \/\/\/\/  \/\/\/\/	║
║	/\/\/    \/\/\/    \/\/\/    \/\/\/    \/\/\/    \/\/\/		║
║									║
║									║
╠═══════════╤══════════╤═════════════════╤════════════╤═════════════════╣
║ <a href="#intro">  Intro  </a> │ <a href="#info">  Info  </a> │ <a href="#exd">  Experiences  </a> │ <a href="#skills">  Skills  </a> │ <a href="#connect">  Connection  </a>  ║
╚═══════════╧══════════╧═════════════════╧════════════╧═════════════════╝
</pre><div class="logo" id="intro"></div><pre>
╔═══════════════════════════════════════════════════════════════════════╗
║  								   <a href="#info"> ► </a>  ║
║									║
║	<span class="bold">INTRODUCTION:</span>							║
║									║
║	Hi! Welcome to my personal website.				║
║	  I'm Amin and I was born in 1994. I'm computer engineering	║
║	student at<a href="http://vus.ir/" target="_blank"> VUS </a>for bachelor degree and work at<a href="http://techchi.ir" target="_blank"> Techchi </a>company	║
║	for less than a year. I'm coding about 6 year's and have some	║
║	experiences in front web develope and back-end development.	║
║	I'm familiar with android developing in java native too.	║
║	  I love programming for one important reason, which is you	║
║	can create everything that's in your mind.			║
║	There is no limit :)						║
║	  Dear friend, this is my honor for getting to know you and	║
║	share experiences with each other. you can connect with me	║
║	in these ways. <a href="#connect">(Go to Connection section)</a>			║
║					 				║
║									║
</pre><div class="logo" id="info"></div><pre>
╠═══════════════════════════════════════════════════════════════════════╣
║  <a href="#intro"> ◄ </a>								   <a href="#exd"> ► </a>  ║
║									║
║	<span class="bold">INFORMATION:</span>							║
║									║
║	This section will complete later.				║
║	for now, you can download my CV <a href="{% url 'resume:resume' language='en' %}">here</a>.				║
║									║
║									║
</pre><div class="logo" id="exd"></div><pre>
╠═══════════════════════════════════════════════════════════════════════╣
║  <a href="#info"> ◄ </a>								   <a href="#skills"> ► </a>  ║
║									║
║	<span class="bold">TIMELINE TREE:</span>							║
║	<span class="y2018">├───2018</span>							║
║	<span class="y1718">│</span>   ├───Experiences						║
║	<span class="y1718">│</span>   │   └───My personal website<a href="http://aminhce.ir"> aminhce.ir </a>			║
║	<span class="y1718">│</span>   └───Happy New Year! :D					║
║	<span class="y2017">├───2017</span>							║
║	<span class="y1617">│</span>   <span class="edu17 cert17 exp17 prog17">├</span><span class="exp17">───Experiences</span>						║
║	<span class="y1617">│</span>   <span class="edu17 cert17 prog17">│</span>   ├───Web Design<a href="http://arkasystemzarin.ir" target="_blank"> Arka System Zarin </a>website		║
║	<span class="y1617">│</span>   <span class="edu17 cert17 prog17">│</span>   ├───Start working with<a href="http://techchi.ir" target="_blank"> Techchi </a>				║
║	<span class="y1617">│</span>   <span class="edu17 cert17 prog17">│</span>   └───Cofunder of<a href="http://zigzagraphi.com" target="_blank"> ZigzaGraphi </a>				║
║	<span class="y1617">│</span>   <span class="edu17 cert17 prog17">├</span><span class="edu17">───Education</span>						║
║	<span class="y1617">│</span>   <span class="cert17 prog17">│</span>   <span class="vus17">└───Begin Computer Engineering in<a href="http://vus.ir/" target="_blank"> VUS </a></span>			║
║	<span class="y1617">│</span>   <span class="cert17 prog17">├</span><span class="prog17">───Programming</span>						║
║	<span class="y1617">│</span>   <span class="cert17">│</span>   ├───Android						║
║	<span class="y1617">│</span>   <span class="cert17">│</span>   │   └───Login & Sign Up app				║
║	<span class="y1617">│</span>   <span class="cert17">│</span>   └───BackEnd						║
║	<span class="y1617">│</span>   <span class="cert17">│</span>       └───Login & Sign Up in Django			║
║	<span class="y1617">│</span>   <span class="cert17">└───Certifications</span>						║
║	<span class="y1617">│</span>       └───Network+						║
║	<span class="y2016">├───2016</span>							║
║	<span class="y1516">│</span>   ├───Programming						║
║	<span class="y1516">│</span>   │   └───Android 						║
║	<span class="y1516">│</span>   │       └───"<a href="https://cafebazaar.ir/app/com.hceproducts.tasbih/?l=en" target="_blank"> Tasbih </a>"					║
║	<span class="y1516">│</span>   └───Graphic Design						║
║	<span class="y1516">│</span>       ├───Design 8 Poster					║
║	<span class="y1516">│</span>       ├───Layout Design for 1 Journal				║
║	<span class="y1516">│</span>       └───Logo Design	for 4 titles				║
║	<span class="y2015">├───2015</span>							║
║	<span class="y1415">│</span>   <span class="edu15 honor15 exp15 des15">├</span><span class="edu15">───Education</span>						║
║	<span class="y1415">│</span>   │   <span class="bu15">└───End of Computer Engineering in<a href="http://en.birjand.ac.ir/" target="_blank"> BU </a></span>			║
║	<span class="y1415">│</span>   ├───Honors							║
║	<span class="y1415">│</span>   │   └───ACM second place in<a href="http://en.birjand.ac.ir/" target="_blank"> BU </a>				║
║	<span class="y1415">│</span>   ├───Graphic Design						║
║	<span class="y1415">│</span>   │   ├───Design more than 150 Poster				║
║	<span class="y1415">│</span>   │   ├───Layout Design for 8 Journal				║
║	<span class="y1415">│</span>   │   └───Logo Design	for 12 titles				║
║	<span class="y1415">│</span>   └───Experiences						║
║	<span class="y1415">│</span>       └───dabir kanoon tabliqat				║
║	<span class="y2014">├───2014</span>							║
║	<span class="y1214">│</span>   ├───Honors							║
║	<span class="y1214">│</span>   │   └───ACM second place in<a href="http://en.birjand.ac.ir/" target="_blank"> BU </a>				║
║	<span class="y1214">│</span>   ├───Graphic Design						║
║	<span class="y1214">│</span>   │   ├───Design more than 20 Poster 				║
║	<span class="y1214">│</span>   │   ├───Layout Design for 2 Journal				║
║	<span class="y1214">│</span>   │   └───Logo Design	for 7 titles				║
║	<span class="y1214">│</span>   └───Project							║
║	<span class="y1214">│</span>       └───Matches Game for Data Structure			║
║	<span class="y2012">├───2012</span>							║
║	<span class="y1112">│</span>   <span class="edu12 project12">├</span><span class="edu12">───Education</span>						║
║	<span class="y1112">│</span>   <span class="project12">│</span>   <span class="bu12">└───Begin Computer Engineering in<a href="http://en.birjand.ac.ir/" target="_blank"> BU </a></span>			║
║	<span class="y1112">│</span>   <span class="project12">└───Project</span>							║
║	<span class="y1112">│</span>       └───Engineering Calculator for BCP			║
║	<span class="y2011">├───2011</span>							║
║	│   <span class="edu11">└───Education</span>						║
║	│       └───<a href="math-diploma.html" id="mathdiploma">Mathematics Diploma</a>					║
║	<span class="y1994">└───1994</span>							║
║									║
║									║
║	<a href="http://en.birjand.ac.ir/" target="_blank">BU</a>: Birjand University						║
║	<a href="http://vus.ir/" target="_blank">VUS</a>: Virtual University of Shiraz				║
║	BCP: Basic Computer Programming					║
║									║
║									║
</pre><div class="logo" id="skills"></div><pre>
╠═══════════════════════════════════════════════════════════════════════╣
║  <a href="#exd"> ◄ </a>								   <a href="#connect"> ► </a>  ║
║									║
║	<span class="bold">SKILLS:</span>								║
║	<a href="http://en.cppreference.com">C++</a> [==========================------] 78%			║
║	<a href="https://www.java.com/en/">Java</a> [=====================-----------] 63%			║
║	<a href="https://www.python.org/">Python</a> [===============-----------------] 45%			║
║	<a href="https://www.djangoproject.com/">Django</a> [=======-------------------------] 21%			║
║	<a href="https://developer.android.com/index.html">Android Development</a> [================----------------] 48%	║
║	<a href="https://developer.android.com/studio/index.html">Android Studio</a> [=================---------------] 51%		║
║	<a href="https://certification.comptia.org/certifications/network">Network+</a> [=============================---] 87%			║
║	<a href="https://www.cisco.com/">Cisco</a> [=========-----------------------] 27%			║
║	Web Development [================----------------] 48%		║
║	Web Design [======================----------] 66%		║
║	HTML5 [==========================------] 78%			║
║	CSS3 [==========================------] 78%			║
║	Graphic Design [==========================------] 78%		║
║	Logo Design [=============================---] 87%		║
║	<a href="https://www.adobe.com/products/photoshop.html">Adobe Photoshop</a> [===========================-----] 81%		║
║	<a href="https://www.adobe.com/products/indesign.html">Adobe InDesign</a> [========================--------] 72%		║
║	<a href="https://products.office.com/en-us/home">Microsoft Office</a> [===============================-] 93%		║
║									║
║									║
</pre><div class="logo" id="connect"></div><pre>
╠═══════════════════════════════════════════════════════════════════════╣
║  <a href="#skills"> ◄ </a>									║
║									║
║	<span class="bold">CONNECTION:</span>							║
║									║
║	<span class="bold">LinkedIn:</span><a href="https://www.linkedin.com/in/amin-hemmati/"> Amin Hemmati </a>						║
║									║
║	<span class="bold">GitHub:</span><a href="https://github.com/AminHCE"> AminHCE </a>						║
║									║
║	<span class="bold">Address:</span> Shariati St., Tehran, Iran				║
║									║
║									║
║									║
╠═══════════════════════════════════════════════════════════════════════╣
║	    Copyright © 2018<a href="http://aminhce.ir"> AminHCE.ir </a>, All rights reserved.		║
╚═══════════════════════════════════════════════════════════════════════╝








</pre>


			</p>

		</div>

	</div>
	<div class="mobile_device_480px">
		<div class="logo">
			<p>
				<pre>╔═══════════════════════════════════════════════════════════════════════╗
║									║
║									║
║	    /\/\/\    /\/\/\    /\/\/\    /\/\/\    /\/\/\    /\/\/	║
║	   /\/\/\/\  /\/\/\/\  /\/\/\/\  /\/\/\/\  /\/\/\/\  /\/\/	║
║	  /\/\/\/\/\/\/\/\/\/\/\<a href="http://aminhce.ir">AminHCE.ir</a>/\/\/\/\/\/\/\/\/\/\/\/	║
║	 /\/\/  \/\/\/\/  \/\/\/\/  \/\/\/\/  \/\/\/\/  \/\/\/\/	║
║	/\/\/    \/\/\/    \/\/\/    \/\/\/    \/\/\/    \/\/\/		║
║									║
║									║
╠═══════════╤══════════╤═════════════════╤════════════╤═════════════════╣
║ <a href="#intro">  Intro  </a> │ <a href="#info">  Info  </a> │ <a href="#exd">  Experiences  </a> │ <a href="#skills">  Skills  </a> │ <a href="#connect">  Connection  </a>  ║
╚═══════════╧══════════╧═════════════════╧════════════╧═════════════════╝
</pre><div class="logo" id="intro"></div><pre>
╔═══════════════════════════════════════════════════════════════════════╗
║  								   <a href="#info"> ► </a>  ║
║									║
║	<span class="bold">INTRODUCTION:</span>							║
║									║
║	Hi! Welcome to my personal website.				║
║	  I'm Amin and I was born in 1994. I'm computer engineering	║
║	student at<a href="http://vus.ir/" target="_blank"> VUS </a>for bachelor degree and work at<a href="http://techchi.ir" target="_blank"> Techchi </a>company	║
║	for less than a year. I'm coding about 6 year's and have some	║
║	experiences in front web develope and back-end development.	║
║	I'm familiar with android developing in java native too.	║
║	  I love programming for one important reason, which is you	║
║	can create everything that's in your mind.			║
║	There is no limit :)						║
║	  Dear friend, this is my honor for getting to know you and	║
║	share experiences with each other. you can connect with me	║
║	in these ways. <a href="#connect">(Go to Connection section)</a>			║
║					 				║
║									║
</pre><div class="logo" id="info"></div><pre>
╠═══════════════════════════════════════════════════════════════════════╣
║  <a href="#intro"> ◄ </a>								   <a href="#exd"> ► </a>  ║
║									║
║	<span class="bold">INFORMATION:</span>							║
║									║
║	This section will complete later.				║
║	for now, you can download my CV <a href="{% url 'resume:resume' language='en' %}">here</a>.				║
║									║
║									║
</pre><div class="logo" id="exd"></div><pre>
╠═══════════════════════════════════════════════════════════════════════╣
║  <a href="#info"> ◄ </a>								   <a href="#skills"> ► </a>  ║
║									║
║	<span class="bold">TIMELINE TREE:</span>							║
║	<span class="y2018">├───2018</span>							║
║	<span class="y1718">│</span>   ├───Experiences						║
║	<span class="y1718">│</span>   │   └───My personal website<a href="http://aminhce.ir"> aminhce.ir </a>			║
║	<span class="y1718">│</span>   └───Happy New Year! :D					║
║	<span class="y2017">├───2017</span>							║
║	<span class="y1617">│</span>   <span class="edu17 cert17 exp17 prog17">├</span><span class="exp17">───Experiences</span>						║
║	<span class="y1617">│</span>   <span class="edu17 cert17 prog17">│</span>   ├───Web Design<a href="http://arkasystemzarin.ir" target="_blank"> Arka System Zarin </a>website		║
║	<span class="y1617">│</span>   <span class="edu17 cert17 prog17">│</span>   ├───Start working with<a href="http://techchi.ir" target="_blank"> Techchi </a>				║
║	<span class="y1617">│</span>   <span class="edu17 cert17 prog17">│</span>   └───Cofunder of<a href="http://zigzagraphi.com" target="_blank"> ZigzaGraphi </a>				║
║	<span class="y1617">│</span>   <span class="edu17 cert17 prog17">├</span><span class="edu17">───Education</span>						║
║	<span class="y1617">│</span>   <span class="cert17 prog17">│</span>   <span class="vus17">└───Begin Computer Engineering in<a href="http://vus.ir/" target="_blank"> VUS </a></span>			║
║	<span class="y1617">│</span>   <span class="cert17 prog17">├</span><span class="prog17">───Programming</span>						║
║	<span class="y1617">│</span>   <span class="cert17">│</span>   ├───Android						║
║	<span class="y1617">│</span>   <span class="cert17">│</span>   │   └───Login & Sign Up app				║
║	<span class="y1617">│</span>   <span class="cert17">│</span>   └───BackEnd						║
║	<span class="y1617">│</span>   <span class="cert17">│</span>       └───Login & Sign Up in Django			║
║	<span class="y1617">│</span>   <span class="cert17">└───Certifications</span>						║
║	<span class="y1617">│</span>       └───Network+						║
║	<span class="y2016">├───2016</span>							║
║	<span class="y1516">│</span>   ├───Programming						║
║	<span class="y1516">│</span>   │   └───Android 						║
║	<span class="y1516">│</span>   │       └───"<a href="https://cafebazaar.ir/app/com.hceproducts.tasbih/?l=en" target="_blank"> Tasbih </a>"					║
║	<span class="y1516">│</span>   └───Graphic Design						║
║	<span class="y1516">│</span>       ├───Design 8 Poster					║
║	<span class="y1516">│</span>       ├───Layout Design for 1 Journal				║
║	<span class="y1516">│</span>       └───Logo Design	for 4 titles				║
║	<span class="y2015">├───2015</span>							║
║	<span class="y1415">│</span>   <span class="edu15 honor15 exp15 des15">├</span><span class="edu15">───Education</span>						║
║	<span class="y1415">│</span>   │   <span class="bu15">└───End of Computer Engineering in<a href="http://en.birjand.ac.ir/" target="_blank"> BU </a></span>			║
║	<span class="y1415">│</span>   ├───Honors							║
║	<span class="y1415">│</span>   │   └───ACM second place in<a href="http://en.birjand.ac.ir/" target="_blank"> BU </a>				║
║	<span class="y1415">│</span>   ├───Graphic Design						║
║	<span class="y1415">│</span>   │   ├───Design more than 150 Poster				║
║	<span class="y1415">│</span>   │   ├───Layout Design for 8 Journal				║
║	<span class="y1415">│</span>   │   └───Logo Design	for 12 titles				║
║	<span class="y1415">│</span>   └───Experiences						║
║	<span class="y1415">│</span>       └───dabir kanoon tabliqat				║
║	<span class="y2014">├───2014</span>							║
║	<span class="y1214">│</span>   ├───Honors							║
║	<span class="y1214">│</span>   │   └───ACM second place in<a href="http://en.birjand.ac.ir/" target="_blank"> BU </a>				║
║	<span class="y1214">│</span>   ├───Graphic Design						║
║	<span class="y1214">│</span>   │   ├───Design more than 20 Poster 				║
║	<span class="y1214">│</span>   │   ├───Layout Design for 2 Journal				║
║	<span class="y1214">│</span>   │   └───Logo Design	for 7 titles				║
║	<span class="y1214">│</span>   └───Project							║
║	<span class="y1214">│</span>       └───Matches Game for Data Structure			║
║	<span class="y2012">├───2012</span>							║
║	<span class="y1112">│</span>   <span class="edu12 project12">├</span><span class="edu12">───Education</span>						║
║	<span class="y1112">│</span>   <span class="project12">│</span>   <span class="bu12">└───Begin Computer Engineering in<a href="http://en.birjand.ac.ir/" target="_blank"> BU </a></span>			║
║	<span class="y1112">│</span>   <span class="project12">└───Project</span>							║
║	<span class="y1112">│</span>       └───Engineering Calculator for B.C.P			║
║	<span class="y2011">├───2011</span>							║
║	│   <span class="edu11">└───Education</span>						║
║	│       └───<a href="math-diploma.html" id="mathdiploma">Mathematics Diploma</a>					║
║	<span class="y1994">└───1994</span>							║
║									║
║									║
║	<a href="http://en.birjand.ac.ir/" target="_blank">BU</a>: Birjand University						║
║	<a href="http://vus.ir/" target="_blank">VUS</a>: Virtual University of Shiraz				║
║									║
║									║
</pre><div class="logo" id="skills"></div><pre>
╠═══════════════════════════════════════════════════════════════════════╣
║  <a href="#exd"> ◄ </a>								   <a href="#connect"> ► </a>  ║
║									║
║	<span class="bold">SKILLS:</span>								║
║	<a href="http://en.cppreference.com">C++</a> [==========================------] 78%			║
║	<a href="https://www.java.com/en/">Java</a> [=====================-----------] 63%			║
║	<a href="https://www.python.org/">Python</a> [===============-----------------] 45%			║
║	<a href="https://www.djangoproject.com/">Django</a> [=======-------------------------] 21%			║
║	<a href="https://developer.android.com/index.html">Android Development</a> [================----------------] 48%	║
║	<a href="https://developer.android.com/studio/index.html">Android Studio</a> [=================---------------] 51%		║
║	<a href="https://certification.comptia.org/certifications/network">Network+</a> [=============================---] 87%			║
║	<a href="https://www.cisco.com/">Cisco</a> [=========-----------------------] 27%			║
║	Web Development [================----------------] 48%		║
║	Web Design [======================----------] 66%		║
║	HTML5 [==========================------] 78%			║
║	CSS3 [==========================------] 78%			║
║	Graphic Design [==========================------] 78%		║
║	Logo Design [=============================---] 87%		║
║	<a href="https://www.adobe.com/products/photoshop.html">Adobe Photoshop</a> [===========================-----] 81%		║
║	<a href="https://www.adobe.com/products/indesign.html">Adobe InDesign</a> [========================--------] 72%		║
║	<a href="https://products.office.com/en-us/home">Microsoft Office</a> [===============================-] 93%		║
║									║
║									║
</pre><div class="logo" id="connect"></div><pre>
╠═══════════════════════════════════════════════════════════════════════╣
║  <a href="#skills"> ◄ </a>									║
║									║
║	<span class="bold">CONNECTION:</span>							║
║									║
║	<span class="bold">LinkedIn:</span><a href="https://www.linkedin.com/in/amin-hemmati/"> Amin Hemmati </a>						║
║									║
║	<span class="bold">GitHub:</span><a href="https://github.com/AminHCE"> AminHCE </a>						║
║									║
║	<span class="bold">Address:</span> Shariati St., Tehran, Iran				║
║									║
║									║
║									║
╠═══════════════════════════════════════════════════════════════════════╣
║	    Copyright © 2018<a href="http://aminhce.ir"> AminHCE.ir </a>, All rights reserved.		║
╚═══════════════════════════════════════════════════════════════════════╝








</pre>


			</p>

		</div>
    </div>





</body>
</html>